li.dev-item{
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px;
}
li.dev-item header{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
li.dev-item header img{
    height: 54px;
    width: 54px;
    border-radius: 50%;
}
li.dev-item  header .btn-destroy{
    height: 50px;
    width: 50px;
    position: absolute;
    top: -10px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    top: -20px;
    right: -15px;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: all .1s;
}
li.dev-item  header .btn-destroy:hover {
    transform: scale(1.09);
}
header .btn-destroy:hover header .btn-destroy div.line{
    background: #5A2EAC;
}
li.dev-item  header .btn-destroy div.line{
    height: 5px;
    background:  #8E4DFF;
    width: 30px;
    border-radius: 2px;
    position: absolute;
}
li.dev-item  header .btn-destroy div.line:nth-last-of-type(1){
    transform: rotate(45deg);
}
li.dev-item  header .btn-destroy div.line:nth-last-of-type(2){
    transform: rotate(-45deg);
}
li.dev-item header .user-info{
    margin-left: 10px;
}

.user-info strong{
    display: block;
    font-size: 16px;
    color: #333;
}
.user-info span{
    font-size: 13px;
    color: #999;
    margin-top: 2px;
}
li.dev-item p {
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}
li.dev-item a {
    font-size: 14px;
    font-weight: bold;
    color: #8E4DFF;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
}
li.dev-item a:hover {
    color: #5A2EAC;
}
