strong{
    font-size: 20px;
    text-align: center;
    color: #333;
    display: block;
}
 form {
    margin-top: 30px;
    text-align: left;
}
 form .input-block{
    margin-top: 20px;
}
 form .input-group{
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
} 
 form .input-group .input-block{
    margin-top: 0px;
}
 form .input-block label{
    color: #ACACAC;
    font-size: 14px;
    font-weight: bold;
    display: block;

}
 form .input-block input, form .input-block textarea{
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid rgb(214, 214, 214);
    transition: all 0.5s;
}
form .input-block textarea{
    resize: none;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    padding:10px;
    height: 80px;
    margin-top: 5px;
    transition: all 0.5s;
}
form .input-block textarea:hover,  form .input-block textarea:focus{
    border: 2px solid #7D40E7;
}
form .input-block input{
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid #eee;
    transition: all 0.5s;
}

 form .input-block input:hover,  form .input-block input:focus{
    border-bottom: 2px solid #7D40E7;
} 
form div.file{
    border: 2px solid rgb(214, 214, 214);
    border-radius: 5px;
    height: 80px;
    margin-top: 5px;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

form div.file img{
    width: 60px;
    position: absolute;
    z-index: -1;
    transition: all .3s;
}
form div.file:hover img.up{
    transform: translateY(-6px);
}
form div.file:hover,  form div.file:focus{
    border: 2px solid #7D40E7;
}
div.file input[type=file]{
    height: 100%;
    width: 100%;
    opacity: 0;
    position: relative;
}
 form button[type=submit]{
    width: 100%;
    border: 0;
    margin-top: 30px;
    background: #7D40E7;
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    transition: all 0.5s;
}
 form button[type=submit]:hover{
    background: #6931CA; 
}
@media screen and (max-width: 1000px){
    div.input-group-tablet{
        margin-top: 20px;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
    form .input-group-tablet .input-block{
        margin-top: 20px;
     }
}
@media screen and (max-width: 650px){
     form .input-group, div.input-group-tablet{
        margin-top: 0px;
        gap: 00px;
        grid-template-columns: 1fr;
    } 
     form .input-group .input-block {
        margin-top: 20px;
     }
}
